version: "3.8"

services:
  prometheus:
    image: prom/prometheus:v2.55.0
    container_name: prometheus
    ports:
      - "9090:9090"
    command:
      - --config.file=/etc/prometheus/prometheus.yml
      - --storage.tsdb.retention.time=15d
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prom_data:/prometheus
    restart: unless-stopped

  grafana:
    image: grafana/grafana:11.2.0
    container_name: grafana
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    restart: unless-stopped

  postgres_exporter:
    image: prometheuscommunity/postgres-exporter:v0.15.0
    container_name: postgres_exporter
    environment:
      - DATA_SOURCE_NAME=postgresql://exporter:exporter@host.docker.internal:5432/gauteng_db?sslmode=disable
    ports:
      - "9187:9187"
    restart: unless-stopped

  node_exporter:
    image: prom/node-exporter:v1.8.2
    container_name: node_exporter
    ports:
      - "9100:9100"
    command:
      - --path.rootfs=/
    restart: unless-stopped

  custom_exporter:
    image: python:3.11-slim
    container_name: custom_exporter
    working_dir: /app
    env_file: .env # <-- add this
    environment:
      - POLL_SECONDS=20
      - EXPORTER_PORT=9105
    volumes:
      - ./custom_exporter.py:/app/custom_exporter.py:ro
    command: >
      sh -c "pip install --no-cache-dir prometheus_client requests && python custom_exporter.py"
    ports: [ "9105:9105" ]
    restart: unless-stopped

volumes:
  prom_data:
  grafana_data:
